.App {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;

}

.ImgWrap {
  width: 100vh;
  height: 100vh;
}

.Image {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.TextWrap{
  border: 1px solid black;
  position: absolute;
  bottom: 7%;
  padding: 60px;
}

p {
  line-height: 1.3;
  display: inline;
  background-color: rgb(116, 5, 92);
  font-family: georgia;
  color: #EAEFBD;
  font-size: 1.2em;
}

/*width skal sette griden til å være responsiv, ikke lyktes helt*/
.item1 { grid-area: header ; width: 100%; margin:auto }
.item2 { grid-area: optionsmenu; width: 30%; }
.item3 { grid-area: picture; width: 10%; width: 100vh; height: 100vh; }
.item4 { grid-area: audio; width: 20%; }
.item5 { grid-area: poem; width: 30%; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header audio audio audio'
    'optionsmenu picture picture picture poem poem'
    ;
  grid-gap: 10px;
  padding: 10px;
}
.grid-menu {
  display: flex;
  justify-content: flex-start;
  grid-area: menu;
}

.grid-sound {
  display: left;
  padding: 10px;
  grid-area: sound;
}

.grid-text {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  grid-area: text;
}

.grid-slider {
  display: flex;
  grid-area: slider;
}
#happypoem{
  display: block;
}
#sadpoem{
  display: none;
}
#angrypoem{
  display: none;
}
#happyimg{
  display: block;
}
#sadimg{
  display: none;
}
#angryimg{
  display: none;
}
#happysound{
  display: block;
}
#sadsound{
  display: none;
}
#angrysound{
  display: none;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 500px) {
  body{
    background-color: white;
  }

}

@media screen and (min-width: 501px) and ( max-width: 1000px) {
  body{
    background-color: none;
  }
}
